@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Exo", sans-serif !important;
}
.App {
  text-align: center;
  font-family: "Exo", sans-serif !important;
}
