@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;800;900&display=swap");

.homeContainer {
  max-width: 100vw !important;
  margin-top: 50px;
  display: flex;
  font-family: "Exo", sans-serif !important;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeTitle {
  font-size: 20px;
  text-transform: uppercase;
  background-color: #ffee32;
  padding: 0 10px 0 10px;
}
