.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightgray;
  gap: 10px;
  padding: 10px;
  font-family: "Exo", sans-serif !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.topPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentPart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.headerPart {
  display: flex;
  justify-content: space-between;
}

.siImg {
  float: left;
  width: 100%;
  height: 220px;
  border-radius: 5px;
  object-fit: cover;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
  text-align: justify;
}

.siTitle {
  font-size: 32px;
  font-weight: 700;
  color: black;
  text-align: left;
}

.siDistance {
  font-size: 12px;
}

.siTaxiOp {
  font-size: 12px;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
}

.siSubtitle {
  font-size: 12px;
  font-weight: bold;
}

.siFeatures {
  font-size: 12px;
}

.siCancelOp {
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle {
  font-size: 12px;
  color: #008009;
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.siRating {
  display: flex;
  align-items: center;
}

.siRating > span {
  font-weight: 500;
  margin-right: 5px;
}
.siRating > button {
  background-color: #5c0099;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.siDetailTexts {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siPrice {
  font-size: 24px;
}

.siTaxOp {
  font-size: 12px;
  color: gray;
}

.bottomPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smallImages {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.smallImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.siCheckButton {
  background-color: #5c0099;
  color: white;
  font-weight: 600;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
